{ 
  "bot_details" : {
    "bot_name"  : "BOT_NAME",
    "bot_url" : "https://BOT_URL.COM",
    "explorer_url" : "https://explorer.theqrl.org",
    "bot_dir" : "/home/{$USER}/qrltips",
    "bot_donationAddress" : "Q010500e9ec3de4d403d59be6ff329134c6d6fab4f94ea40eaa443aff47ab76350519e94fe9326b"
  },
  "wallet" : {
    "tx_fee"  : "0.00001",
    "num_slaves" : "10",
    "height" : "12",
    "hash_function" : "shake128",
    "hold_address" : "Q..."
  },  
  "database" : {
    "db_name" : "DATABASE_NAME",
    "db_host" : "DATABASE_HOST",
    "db_pass" : "DATABASE_SECRET_PASSWORD_CHANGE_ME!!",
    "db_user" : "DATABASE_USER",
    "db_port" : "3006"
  },
  "discord" : {
    "token"  : "DISCORD_TOKEN_HERE",
    "cmd_dir" : "/home/{$USER}/qrltips/_scripts/discord/cmd",
    "prefix" : "+",
    "bot_admin" : "DISCORD_ID"
  },
  "faucet_db" : {
    "db_name" : "DATABASE_NAME",
    "db_host" : "DATABASE_HOST",
    "db_pass" : "DATABASE_SECRET_PASSWORD!!",
    "db_user" : "DATABASE_USER",
    "db_port" : "3006"
  },
  "faucet" : {
    "faucet_wallet_pub" : "Q...",
    "payout_interval" : "1440",
    "min_payout" : "0.000000001",
    "max_payout" : "0.5"
  }
}